<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Picture</title>
<link rel="stylesheet" style="text/css" href="common/list_image.css">
</head>
<body>
<div class="header">	
</div>
<!--上面是header-->
<div class="wrap960">
	<div class="imgs_tit">
		<h2><img src="http://www.166122.com/themes/images/tit_pic_area_2.gif" /></h2>
		<p class="configure">共有173组美女图片</p>
	</div>
	<div class="list">
		<ul>
			<li><a href="#">
				<img src="http://www.166122.com/upload/2012925/20120925204928272827.jpg" />
				<p><a href="#">李妍熙演绎 布拉格之恋</a></p>
			</li>
			<li><a href="#">
				<img src="http://www.166122.com/upload/2012925/20120925204928272827.jpg" />
				<p><a href="#">李妍熙演绎 布拉格之恋</a></p>
			</li>
			<li><a href="#">
				<img src="http://www.166122.com/upload/2012925/20120925204928272827.jpg" />
				<p><a href="#">李妍熙演绎 布拉格之恋</a></p>
			</li>
			<li><a href="#">
				<img src="http://www.166122.com/upload/2012925/20120925204928272827.jpg" />
				<p><a href="#">李妍熙演绎 布拉格之恋</a></p>
			</li>
			<li><a href="#">
				<img src="http://www.166122.com/upload/2012925/20120925204928272827.jpg" />
				<p><a href="#">李妍熙演绎 布拉格之恋</a></p>
			</li>
			<li><a href="#">
				<img src="http://www.166122.com/upload/2012925/20120925204928272827.jpg" />
				<p><a href="#">李妍熙演绎 布拉格之恋</a></p>
			</li>
			<li><a href="#">
				<img src="http://www.166122.com/upload/2012925/20120925204928272827.jpg" />
				<p><a href="#">李妍熙演绎 布拉格之恋</a></p>
			</li>
			<li><a href="#">
				<img src="http://www.166122.com/upload/2012925/20120925204928272827.jpg" />
				<p><a href="#">李妍熙演绎 布拉格之恋</a></p>
			</li>
			<li><a href="#">
				<img src="http://www.166122.com/upload/2012925/20120925204928272827.jpg" />
				<p><a href="#">李妍熙演绎 布拉格之恋</a></p>
			</li>
			<li><a href="#">
				<img src="http://www.166122.com/upload/2012925/20120925204928272827.jpg" />
				<p><a href="#">李妍熙演绎 布拉格之恋</a></p>
			</li>
		</ul>
	</div>
	<div class="cut">
		<ul>
			<li><a href="#">共9页</a></li>
			<li><a href="#">首页</a></li>
			<li><a href="#">上页</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">下页</a></li>
			<li><a href="#">尾页</a></li>
	</div>
</div>
