<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>图片</title>
<link type="text/css" rel="stylesheet" href="style/pic.css">
</head>

<body>
<div id="topnav">
	<ul>    	
        <li>
        	<a href="#">设为首页</a>
            |
            <a href="#">收藏起来下次看吧！</a>
        </li>
    </ul>
</div>
<div id="header">
	<div id="logo">
    	<a href="#"><img src="style/logo.jpg" alt="strtotime()" title="natsort()" style="width:280px;height:100px;" /></a>
    </div>
	<div id="menus">
    	<ul>
        	<li><a href="#">首页</a></li>
            <li><a href="#">美女图片</a></li>
            <li><a href="#">美女写真</a></li>
            <li><a href="#">丝袜美女</a></li>
            <li><a href="#">明星模特</a></li>
            <li><a href="#">日韩美女</a></li>
            <li><a href="#">动漫美女</a></li>
        </ul>
    </div>
</div>
<div class="space"></div>	
<div id="main">
	<div id="topicnav">
    	当前位置：
        <a href="#">主页</a>
        >
        <a href="#">丝袜美女</a>
        >
    </div>
    <div id="mainTitle">
    	<div class="btn">
        	<a href="#" title="strstr">网站首页</a>
            <a href="#" title="strrchr">丝袜美女</a>
        </div>
        <h1>清纯靓丽女神海边唯美写照</h1>
    </div>
    <div class="imgTip">
    	温馨提示：点击图片查看下一页
   	</div>
    <div id="mainPic">
    	<p class="mainPicImg"><a href="#"><img src="style/1.jpg"  alt="清纯靓丽女神海边唯美写照" /></a></p>
        <p>清纯靓丽女神海边唯美写照</p>
    </div>
    <div id="page">
    	<ul>
        	<li><a href="#">共7页</a></li>
            <li><a href="#">上一页</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="current">6</li>
            <li><a href="#">7</a></li>
            <li><a href="#">下一页</a></li>
        </ul>
            
    </div>
    
    <div id="bottomnav">
    	<ul>
        	<li class="left">上一篇：<a href="#">上海都市美女靓丽迷人写</a></li>
            <li class="right">下一篇：<a href="#">惊艳诱人美模绝色私房妩媚</a></li>
        </ul>
    </div>

</div>
<div class="space"></div>
<div class="suggest">
	<div id="sugnav">
    	<span>推荐最性感美女图片</span>
    </div>
	<div id="suglist">
	<ul>
        <li class="img"><a href="#"><img src="style/slt2.jpg" alt="90后万人迷美女私房性感写" title="90后万人迷美女私房性感写" /></a></li>
            <li class="sugtitle"><a href="#">90后万人迷美女私房性感写真</a></li>
        </ul>
        <ul>
        	<li class="img"><a href="#"><img src="style/slt2.jpg" alt="90后万人迷美女私房性感写" title="90后万人迷美女私房性感写" /></a></li>
            <li class="sugtitle"><a href="#">90后万人迷美女私房性感写真</a></li>
        </ul>
        <ul>
        	<li class="img"><a href="#"><img src="style/slt2.jpg" alt="90后万人迷美女私房性感写" title="90后万人迷美女私房性感写" /></a></li>
            <li class="sugtitle"><a href="#">90后万人迷美女私房性感写真</a></li>
        </ul>
        <ul>
        	<li class="img"><a href="#"><img src="style/slt2.jpg" alt="90后万人迷美女私房性感写" title="90后万人迷美女私房性感写" /></a></li>
            <li class="sugtitle"><a href="#">90后万人迷美女私房性感写真</a></li>
        </ul>
        <ul>
        	<li class="img"><a href="#"><img src="style/slt2.jpg" alt="90后万人迷美女私房性感写" title="90后万人迷美女私房性感写" /></a></li>
            <li class="sugtitle"><a href="#">90后万人迷美女私房性感写真</a></li>
        </ul>
        <ul>
        	<li class="img"><a href="#"><img src="style/slt2.jpg" alt="90后万人迷美女私房性感写" title="90后万人迷美女私房性感写" /></a></li>
            <li class="sugtitle"><a href="#">90后万人迷美女私房性感写真</a></li>
        </ul>
        <ul>
        	<li class="img"><a href="#"><img src="style/slt2.jpg" alt="90后万人迷美女私房性感写" title="90后万人迷美女私房性感写" /></a></li>
            <li class="sugtitle"><a href="#">90后万人迷美女私房性感写真</a></li>
        </ul>
        <ul>
        	<li class="img"><a href="#"><img src="style/slt2.jpg" alt="90后万人迷美女私房性感写" title="90后万人迷美女私房性感写" /></a></li>
            <li class="sugtitle"><a href="#">90后万人迷美女私房性感写真</a></li>
        </ul>
        <ul>
        	<li class="img"><a href="#"><img src="style/slt2.jpg" alt="90后万人迷美女私房性感写" title="90后万人迷美女私房性感写" /></a></li>
            <li class="sugtitle"><a href="#">90后万人迷美女私房性感写真</a></li>
        </ul>
        <ul>
        	<li class="img"><a href="#"><img src="style/slt2.jpg" alt="90后万人迷美女私房性感写" title="90后万人迷美女私房性感写" /></a></li>
            <li class="sugtitle"><a href="#">90后万人迷美女私房性感写真</a></li>
        </ul>
        <ul>
        	<li class="img"><a href="#"><img src="style/slt2.jpg" alt="90后万人迷美女私房性感写" title="90后万人迷美女私房性感写" /></a></li>
            <li class="sugtitle"><a href="#">90后万人迷美女私房性感写真</a></li>
        </ul>
        <ul>
        	<li class="img"><a href="#"><img src="style/slt2.jpg" alt="90后万人迷美女私房性感写" title="90后万人迷美女私房性感写" /></a></li>
            <li class="sugtitle"><a href="#">90后万人迷美女私房性感写真</a></li>
        </ul>
        </div>
</div> 
<div class="space"></div> 
<div id="footer1">
	<div id="footer">
    	<ul>
    		<li>       	
            	<a href="#">美女</a>
            	<a href="#">美女图片</a>
            	<a href="#">mm</a>
            	<a href="#">丝袜美女</a>
            	<a href="#">动漫美女</a>           
      		</li>
       		<li>
       		本站除标明"本站原创"外所有照片版权归创作人所有，如有冒犯，请直接联系本站，我们将立即予以纠正并致歉 2011-2012 女友美图网. All Rights Reserved ！网站统计 站长统计
      		 </li>
   		</ul>
    </div>
</div>
</body>
</html>
