<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Picture</title>
<link rel="stylesheet" style="text/css" href="common/pic_css.css">
</head>
<body>
<div class="header">	
</div>
<div class="wrap960">
	<div class="title">
		<h2>淑女气质田园风写真(第6张/共17张)</h2>
	</div>
	
	<div class="pic">
		<img src="http://www.166122.com/upload//201245/20120405225530982.jpg" />		
	</div>
	
	<div class="cut">		
		<ul>			
			<li><a href="#">上一页</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">6</a></li>
			<li><a href="#">7</a></li>
			<li><a href="#">8</a></li>
			<li><a href="#">9</a></li>
			<li><a href="#">10</a></li>
			<li><a href="#">11</a></li>
			<li><a href="#">12</a></li>	
            <li class="sl">....</li>			
			<li><a href="#">17</a></li>	
			<li><a href="#">下一张</a></li>
		</ul>		
	</div>
</div>
<div class="wrap960">
	<div class="daily">
		<div class="imgs_tit">
			<h2><img src="http://www.166122.com/themes/images/tit_1.gif" /></h2>
		</div>
		<div class="imgs">
			<ul>
				<li>
					<img src="http://www.166122.com/upload/2011826/20110826114390679067.jpg" />
					<p class="configure"><a href="#">性感美女让人目不转睛</a></p>
				</li>
				<li>
					<img src="http://www.166122.com/upload/2011826/20110826114390679067.jpg" />
					<p class="configure"><a href="#">性感美女让人目不转睛</a></p>
				</li>
				<li>
					<img src="http://www.166122.com/upload/2011826/20110826114390679067.jpg" />
					<p class="configure"><a href="#">性感美女让人目不转睛</a></p>
				</li>
				<li>
					<img src="http://www.166122.com/upload/2011826/20110826114390679067.jpg" />
					<p class="configure"><a href="#">性感美女让人目不转睛</a></p>
				</li>
				<li>
					<img src="http://www.166122.com/upload/2011826/20110826114390679067.jpg" />
					<p class="configure"><a href="#">性感美女让人目不转睛</a></p>
				</li>
				<li>
					<img src="http://www.166122.com/upload/2011826/20110826114390679067.jpg" />
					<p class="configure"><a href="#">性感美女让人目不转睛</a></p>
				</li>
				<li>
					<img src="http://www.166122.com/upload/2011826/20110826114390679067.jpg" />
					<p class="configure"><a href="#">性感美女让人目不转睛</a></p>
				</li>
				<li>
					<img src="http://www.166122.com/upload/2011826/20110826114390679067.jpg" />
					<p class="configure"><a href="#">性感美女让人目不转睛</a></p>
				</li>
				<li>
					<img src="http://www.166122.com/upload/2011826/20110826114390679067.jpg" />
					<p class="configure"><a href="#">性感美女让人目不转睛</a></p>
				</li>
				<li>
					<img src="http://www.166122.com/upload/2011826/20110826114390679067.jpg" />
					<p class="configure"><a href="#">性感美女让人目不转睛</a></p>
				</li>
			</ul>
		</div>
	</div>
</div>